{% block weather %}
    <header>
        <h1>Weather report for Goleta</h1>
        <!-- TODO: change to get city from user settings -->
    </header>
    <table id='temp_condition'>
        <tr>
            <th>Time</th>
            <th>Temperature (&#176;F)</th>
            <th>Condition</th>
        </tr>
        {% for hour in hourly_forecast %}
            <tr>
                <td>{{ hour.civil_time }}</td>
                <td>{{ hour.temperature }}</td>
                <td>{{ hour.condition }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
