{% block menus %}
    <header>
        <h1>UCSB Dining Commons Menus</h1>
    </header>
    <table id='menus_table'>
            <tr>
            {% for menu in menus %}
                <th>{{ menu.dining_common }}</th>
            {% endfor %}
            </tr>
            <tr>
                {% for menu in menus %}
                    <h6>Breakfast</h6>
                    <ul>
                        <li>{{ menu.breakfast_menu }}</li>
                    </ul>
                {% endfor %}
            </tr>
    </table>
{% endblock %}
